@{
    ViewBag.Title = "About";
}
<br/>
<h3>DMD'15 Project - "Publications DB"</h3>

<p>This web application done by Anton Sidorov and Ruslan Kuchukbaev using ASP.NET and PostgresSQL + NPGSQL  . DB contains various science publication crawled from <a href="ieeexplore.ieee.org">IEEE</a>.</p>
